<div class="col-sm-12">
    <div class="jumbotron">
        <h2 class="text-center">Register User For Restaurant</h2>
    </div>
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>User created..!</strong> Your account created successfully..!
        <button (click)="closeAlert()" type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span area-hidden="true">&times;</span>
        </button>
      </div>
    <form [formGroup]="createUser" (ngSubmit)="regUser()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Enter name" formControlName="name" />
        </div>
    
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Enter email" formControlName="email" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter password" formControlName="password" />
        </div>
          
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>